.error {
    color: red;
    display: none;
    font-size: 12px;
}

#success-message {
    opacity: 0;
}

.carousel-indicators .active {
    background-color: blue;
}

.my-card:hover {
    border: 1px solid var(--bs-primary);
}

.banner {
    background-image: url('img/cidade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.favorite{
    cursor: pointer;
}

#favorite-error {
    display: none;
}
