.error {
    color: red;
    display: none;
    font-size: 12px;
}

#success-message {
    opacity: 0;
}

#carouel-indi.active {
    background-color: blue;
}
#carouel-nav:hover{
    color: blue;
}

.my-card:hover {
    border: 1px solid var(--bs-primary);
}

.banner {
    background-image: url('img/cidade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.favorite{
    cursor: pointer;
}
#favorite-error {
    display: none;
}

#navlink:hover {
    color: blue;
}

#footerhover:hover{
    color: rgb(54, 103, 209);
}

